<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ingresar</title>
<link href="../../Libraries/estilos.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="group">
  <form action="../../Controller/Login.php" method="GET">
    <h2><em>¡Ingresar!</em></h2>
  <center> 

      <img src="selector.png" class = "card-img-top"> 
     
      <label for="Usuario">Usuario<span><em>(requerido)</em></span></label>
      <input type="text" name="inputUsuario" id="inputUsuario" class="form-input" required placeholder="Email" />   
      
      <label for="Password">Password <span><em>(requerido)</em></span></label>
      <input type="password" name="inputPassword" id="inputPassword" class="form-input" required placeholder="Password"/>
    </center>

      <center> <a href="C:\Users\Elías Tut\Desktop\INSTITUTO\4° SEMESTRE\Topicos Avanzados\Proyecto\View\Paginainicial\VistaUsuario.html"><input class="form-btn" type="button" name="submit" value="Ingresar" /></a></center>
    </p>
  </form>
</div>


</body>
</html>