<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ingresar</title>
<link href="estilos.css" rel="stylesheet" type="text/css">
</head>

<body>



<div class="group">
  <form action="registro.php" method="POST">
    <h2><em>¡Ingresar!</em></h2>
  <center> 

      <img src="selector.png" class = "card-img-top"> 
     
      <label for="nombre">Usuario <span><em>(requerido)</em></span></label>
      <input type="text" name="nombre" class="form-input" required placeholder="Nombre Usuario" />   
      
      <label for="email">Email <span><em>(requerido)</em></span></label>
      <input type="email" name="email" class="form-input" required placeholder="Ingrese un Email"/>
    </center>

     <center> <input class="form-btn" name="submit" type="submit" value="Ingresar" /></center>
    </p>
  </form>
</div>


</body>
</html>